.cv_title {
  text-align: center;
  padding: 5px;
  // border: 1px dashed;
  margin-bottom: 5px;
  background-color: rgb(201, 200, 200);
  font-size: 20px;
}

// .cv_title:hover {
//     border: 1px dashed;
// }

input[type="text"] {
  outline: none;
}

.main_cv {
  padding: 35px;
}
.cv__infor {
  position: relative;
  .option {
    position: absolute;
    left: 0;
    top: -22px;
    display: none;
    z-index: 15;
    background: rgb(201, 200, 200);
    .v-icon {
      background: white;
      margin-right: 5px;
    }
  }
  .cv__infor--content {
    // // padding: 10px;
    // position: relative;
    // display: flex;
    // justify-content: center;
    input[type="text"] {
      // border: 1px dashed;
      padding: 0px;
      width: 50%;
      margin: 0 auto;
      display: inline-block;
    }
    .social__list {
      display: flex;
      justify-content: center;
    }
    .cv__name {
      display: flex;
      margin-bottom: 10px;
    }
    .cv__address {
      display: flex;
      margin-bottom: 10px;
    }
    .social__item {
      display: flex;
      margin-right: 10px;
      input {
        margin-left: 10px;
        width: 100%;
      }
    }
  }
}

.item__cv {
  position: relative;
  .item__cv--title {
    font-weight: bold;
    font-size: 20px;
  }
  .cv__infor--content {
    padding: 20px;
    input[type="text"], p {
      // border: 1px dashed;
      padding: 0px;
      width: 100%;
      margin: 0 auto;
      display: inline-block;
    }
    input[type="text"]:hover, p:hover {
      border: 1px dashed;
    }
    .v-divider {
      margin-bottom: 5px;
    }
    // div:last-child {
    //     margin-top: 5px;
    // }
  }
  .option {
    position: absolute;
    left: 0;
    top: -28px;
    display: none;
    z-index: 15;
    background: rgb(201, 200, 200);
    padding: 5px;
    .v-icon {
      background: white;
      margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
    .v-btn .v-icon {
      background: none;
    }
  }
  &:hover {
    .cv__infor--content {
      border: 3px solid rgb(201, 200, 200);
    }
    .option {
      display: block;
    }
  }
}

.content__cv {
  position: relative;
  .option__content {
    position: absolute;
    top: -28px;
    right: 0;
    z-index: 10;
    display: none;
    .v-btn:first-child {
      margin-right: 10px;
    }
  }
  &:hover .option__content {
    display: block;
  }
  div:last-child {
    margin-top: 0;
  }
}
